
@{
    ViewBag.Title = "Test MVC App";
}

<h2>Index</h2>

<p>Hello World.</p>

<p>@ViewBag.Message</p>

@Html.ActionLink(linkText: "Click for sessions", controllerName: "Session", actionName: "Index", routeValues: null, htmlAttributes:null)