<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azuretestbarist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>azuretestbarist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>azuretestbarist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$azuretestbarist</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MvcAppTest2.Models.ConferenceContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dbtestbaris.database.windows.net,1433;Initial Catalog=DbTest1;User ID=btevfik@dbtestbaris.database.windows.net;Password=Baris1990" Name="Data Source=tcp:dbtestbaris.database.windows.net,1433;Initial Catalog=DbTest1;User Id=btevfik@dbtestbaris.database.windows.net;Password=Baris1990" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcAppTest2.Models.ConferenceContext, MvcAppTest2" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultMVC2" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dbtestbaris.database.windows.net,1433;Initial Catalog=DbTest1;User ID=btevfik@dbtestbaris.database.windows.net;Password=Baris1990" Name="Data Source=tcp:dbtestbaris.database.windows.net,1433;Initial Catalog=DbTest1;User Id=btevfik@dbtestbaris.database.windows.net;Password=Baris1990" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=BarisDBTestConference;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultMVC2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=BarisDBTestConference;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultMVC2-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dbtestbaris.database.windows.net,1433;Initial Catalog=DbTest1;User Id=btevfik@dbtestbaris.database.windows.net;Password=Baris1990</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MvcAppTest2.Models.ConferenceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dbtestbaris.database.windows.net,1433;Initial Catalog=DbTest1;User Id=btevfik@dbtestbaris.database.windows.net;Password=Baris1990</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MvcAppTest2.Models.ConferenceContext" />
  </ItemGroup>
</Project>