@model MvcAppTest2.Models.Session

@{
    ViewBag.Title = "Details";
}

<h2>
    Session Title: @Model.Title
</h2>

<div>
    Session Abstract: @Model.Abstract
</div>

<h3>Comments About the Session</h3>

@Html.Action("_GetForSession", "Comments", new { SessionID = Model.SessionId })

